.icon-save {
     background-image:url(images/disk.png) !important;
 }
.icon-print {
    background-image:url(images/printer.png) !important;
}
.icon-pan {
     background-image:url(images/gis_icons/mapPan.png) !important;
 }

.icon-zoom-area {
    background-image:url(images/gis_icons/area_zoom.png) !important;
}

.icon-info {
    background-image:url(images/info16.png) !important;
}
.icon-info-suit {
    background-image:url(images/suit.png) !important;
}
.icon-info2 {
    background-image:url(images/eyes.png) !important;
}

.icon-measure-area {
    background-image:url(images/gis_elpho/measure-polygon.png) !important;
}

.icon-measure-line {
    background-image:url(images/gis_elpho/measure-line.png) !important;
}

.icon-polygon-select {
    background-image:url(images/gis_elpho/select_polygon.png) !important;
}
.icon-polygon-query {
    background-image:url(images/gis_elpho/polygon_query.png) !important;
}

.gx-popup-anc {
    background: transparent url(images/anchor-neptune.png) no-repeat 0 0 !important;;
}

.gx-popup-anc.top {
    background: transparent url(images/anchor-top-neptune.png) no-repeat 0 0 !important;;
}

.icon-previous {
    background-image:url(images/previous.png) !important;;
}
.icon-next {
    background-image:url(images/next.png) !important;;
}
.icon-reset {
    background-image:url(images/reset.png) !important;;
}
.icon-download {
    background-image:url(images/download.png) !important;;
}
.icon-upload {
    background-image:url(images/upload.png) !important;;
}