.icon-save {
     background-image:url(images/save1.png) !important;
 }
.icon-print {
    background-image:url(images/print.png) !important;
}
.icon-pan {
     background-image:url(images/pan.png) !important;
 }
.icon-zoom-area {
    background-image:url(images/zoom-region.png) !important;
}
.icon-info {
    background-image:url(images/identify.png) !important;
}
.icon-options {
    background-image:url(images/options.png) !important;
}
.icon-login {
    background-image:url(images/login.png) !important;
}
.icon-measure-area {
    background-image:url(images/area-measure.png) !important;
}
.icon-measure-line {
    background-image:url(images/length-measure.png) !important;
}
.icon-polygon-select {
    background-image:url(images/select.png) !important;
}
.icon-polygon-query {
    background-image:url(images/search.png) !important;
}
.gx-popup-anc {
    background: transparent url(images/anchor-neptune.png) no-repeat 0 0 !important;;
}
.gx-popup-anc.top {
    background: transparent url(images/anchor-top-neptune.png) no-repeat 0 0 !important;;
}
.icon-previous {
    background-image:url(images/zoom-last.png) !important;;
}
.icon-next {
    background-image:url(images/zoom-next.png) !important;;
}
.icon-reset {
    background-image:url(images/monitor-erase.png) !important;;
}
.icon-download {
    background-image:url(images/save.png) !important;;
}
.icon-upload {
    background-image:url(images/open.png) !important;;
}
.icon-edit {
    background-image:url(images/edit.png) !important;;
}
.icon-pointer {
    background-image:url(images/pointer.png) !important;
}